<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

<listeners>
     <listener class-name="SeleniumWebAutomation.Listeners"/>
</listeners> 
	<test name="TestHompage">
		<classes>
			<class name="SeleniumWebAutomation.HomePage" />
		</classes>
	</test>
	<test name="TestTitleValidation">
		<classes>
			<class name="SeleniumWebAutomation.ValidateTitle" />
		</classes>
	</test>
	<test name="TestNavBarValidation">
		<classes>
			<class name="SeleniumWebAutomation.ValidateNavBar" />
		</classes>
	</test>
</suite> <!-- Suite -->
